/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Iceland', sans-serif;
    color: #e5e7eb; /* Light text color */
    background-image: url('images/background.png');
    background-size: cover;
   
   
}

.home-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Greeting on the Left */
.greeting h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 500px;
    color: #0b6231;
    margin-right: 20px;
}

/* Welcome Text on the Right */
.welcome-text {
    max-width: 500px;
}

.welcome-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.welcome-text p {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 18px;
}

button {
    background-color: transparent;
    border: 2px solid #0b6231;
    color: #0b6231;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 15px;
}

button:hover {
    background-color: #089C7F;
    color: #0b0d13;
}
